.json-viewer {
  padding: 1em;
  color: #aaa;
  background: #222;
  line-height: 1.5;
  font-family: monospace;
  font-size: 16px;
  overflow: scroll;
  height: 100%;
}

.entries {
  list-style: none;
  padding-inline: 1.25em;
  margin: 0;
}

.entries.entries-inline,
.entries.entries-inline li {
  padding-inline: 0;
  display: inline-block;
}

.entry-delimiter {
  margin-left: -8px;
}

.entries > .entry:last-child .entry-delimiter {
  display: none;
  font-weight: bold;
}

.entries-summary {
  color: #666;
}

.key.is-toggleable {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.key.is-toggleable .key-expansion-state {
  position: absolute;
  left: -15px;
}

.syntax-key {
  color: green;
}

.syntax-literal {
  color: #32aaee;
}

.syntax-string {
  color: #fc3;
}

.syntax-number {
  color: #0c6;
}

.syntax-unknown {
  color: red;
  font-size: large;
}
