.json-viewer {
  padding: 1em;
  color: #aaa;
  background: #222;
  line-height: 1.5;
  font-family: monospace;
  font-size: 16px;
  overflow: scroll;
  height: 100%;
}

.entries {
  margin: 0;
  display: block;
}

.entries.entries-inline,
.entries.entries-inline li {
  padding-inline-start: 0;
  display: inline-block;
}

/* Hide the delimiter after the last item. It is
   vald to have a trailing comma in a JavaScript object/array,
   but not in JSON. */
.entries > .entry:last-child > .entry-delimiter {
  display: none;
}

.entries-summary {
  color: #666;
}

.entry-body {
  display:inline;
}

.key.is-toggleable {
  cursor: pointer;
  position: relative;
}

.key.is-toggleable .key-expansion-state {
  position: absolute;
  line-height: 28px;
  left: -15px;
}

.key-expansion-state {
  user-select: none;
}

.syntax-key {
  color: green;
}

.syntax-literal {
  color: #32aaee;
}

.syntax-string {
  color: #fc3;
}

.syntax-number {
  color: #0c6;
}

.syntax-unknown {
  color: red;
  font-size: large;
}

.closing-bracket {
  display: inline-block;
}

pre {
  display: inline;
  padding: 0px;
  margin: 0 0 0 0px;
  font-size: inherit;
  line-height: inherit;
  word-break: inherit;
  word-wrap: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: inherit;
}
