<main>
  <h2 id="title">Ember-JSON-Viewer</h2>

  <div class="viewer-wrapper">
    <JsonViewer @json={{this.json}} @expandedIcon="+" @collapsedIcon="-" @collapseDepth={{3}} />
  </div>
  <div class="input-wrapper {{if this.isJSONVAlid "valid" "invalid"}}">
    <h2>Paste JSON below:</h2>
    <Textarea {{on "input" this.updateJSON}} @value={{json-stringify this.json}} />
  </div>
</main>