<div class="json-viewer"
  {{on "copy" this.copyListener}}
  ...attributes>
  <EmberJsonViewer::-Private::ValueViewer
    @value={{@json}}
    @depth={{0}}
    @displayOptions={{this.displayOptions}}
    @path="$"
  />
</div>
